/***************************************************************************
* Vimeo Search
* main.css
***************************************************************************/

html, body {
  font-family: 'Lato', sans-serif;
  background-color: #e8ebee;
  font-weight: 300;
}

.container {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

/**
HEADER
**/
.header {
  color: white;
  background-color: #203e5e;
  box-shadow : 0 0 5px rgba(0,0,0,0.5);
  padding-left:20px;
  padding-right:20px;
  font-weight: 900;
}

h3 {
  display: inline-block;
  width: 65%;
}

.search-form{
  display: inline-block;
  color:black;
  width: 35%;
  text-align: center;
  font-weight: 300;
}

.search-field {
  width: 135px;
}

.logo-header {
  width: 100%;
}

/**
MAIN + FOOTER
**/
.main {
  margin-left: auto;
  margin-right: auto;
  max-width:960px;
  min-width: 600px;
  padding: 20px;
  padding-bottom: 100px;
}

.footer {
  color: white;
  text-align: center;
  background-color: #203e5e;
  position: absolute;
  padding: 10px 10px;
  bottom: 0;
  width: 100%;
  left: 0;
}


/**
BUBBLE CHART
**/
.bubble-chart {
	margin: 10px auto;
	text-align: center;
}

.video-node {
	opacity: 0.5;
  	stroke-width: 3px;
}

#stat-picker {
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  font: 10px sans-serif;
  background: grey;
  border: solid 3px #FFFFFF;
  border-radius: 7px;
  opacity: 0.95;
  pointer-events: none;
  max-width: 200px;
  -webkit-box-shadow: 10px 32px 46px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 10px 32px 46px 0px rgba(0,0,0,0.53);
  box-shadow: 10px 32px 46px 0px rgba(0,0,0,0.53);
}

/**
VIDEO PLAYER
**/
.video-player {
  height: 100%;
  width: 600px;
  margin: 10px auto;
}

